<div class="aa-products-empty">
  <p class="aa-no-result">
    {{ 'general.search.no_results_html' | t }}
  </p>

  <p class="aa-see-all">
    <a href="/search?q=" class="button button--secondary button--dark">
     {{ 'general.search.link' | t }}
    </a>
  </p>
</div>
