{% comment %}
------------------------------------------------------------------------------
  Snippets: Icons - social media
------------------------------------------------------------------------------
{% endcomment %}
{% case icon %}
  {% when 'facebook' %}
    <svg class="icon icon__facebook" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path d="M14.167 6.89341H11.6128V5.2182C11.6128 4.58908 12.0297 4.44241 12.3234 4.44241C12.6164 4.44241 14.1259 4.44241 14.1259 4.44241V1.67668L11.6435 1.66699C8.88779 1.66699 8.26068 3.72976 8.26068 5.04981V6.89341H6.66699V9.74333H8.26068C8.26068 13.4008 8.26068 17.8076 8.26068 17.8076H11.6128C11.6128 17.8076 11.6128 13.3573 11.6128 9.74333H13.8746L14.167 6.89341Z" />
    </svg>

  {% when 'gplus' %}
    <svg class="icon icon__gplus" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M29 17.43v2h-2v2h-2v-2h-2v-2h2v-2h2v2zm-14.77 0h6.51a6.12 6.12 0 0 1 .11 1.14 6.34 6.34 0 0 1-6.62 6.7 6.86 6.86 0 1 1 0-13.72 6.61 6.61 0 0 1 4.62 1.79L17 15.14a3.89 3.89 0 0 0-2.75-1.06 4.33 4.33 0 0 0 0 8.66 3.72 3.72 0 0 0 3.91-3h-3.93z"></path>
    </svg>

  {% when 'instagram' %}
    <svg class="icon icon__instagram" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M10 2.5C12.0369 2.5 12.2923 2.50863 13.0922 2.54513C13.8905 2.58154 14.4357 2.70834 14.9128 2.89376C15.406 3.08539 15.8242 3.34184 16.2412 3.75879C16.6582 4.17577 16.9146 4.59402 17.1063 5.08721C17.2917 5.56427 17.4185 6.10947 17.4549 6.90776C17.4914 7.70772 17.5 7.96312 17.5 10C17.5 12.0369 17.4914 12.2923 17.4549 13.0922C17.4185 13.8905 17.2917 14.4357 17.1063 14.9128C16.9146 15.406 16.6582 15.8242 16.2412 16.2412C15.8242 16.6582 15.406 16.9146 14.9128 17.1063C14.4357 17.2917 13.8905 17.4185 13.0922 17.4549C12.2923 17.4914 12.0369 17.5 10 17.5C7.96312 17.5 7.70771 17.4914 6.90776 17.4549C6.10947 17.4185 5.56427 17.2917 5.08721 17.1063C4.59402 16.9146 4.17576 16.6582 3.75879 16.2412C3.34184 15.8242 3.08539 15.406 2.89375 14.9128C2.70834 14.4357 2.58154 13.8905 2.54513 13.0922C2.50863 12.2923 2.5 12.0369 2.5 10C2.5 7.96312 2.50863 7.70772 2.54513 6.90776C2.58154 6.10947 2.70834 5.56427 2.89375 5.08721C3.08539 4.59402 3.34184 4.17577 3.75879 3.75879C4.17576 3.34184 4.59402 3.08539 5.08721 2.89376C5.56427 2.70834 6.10947 2.58154 6.90776 2.54513C7.70771 2.50863 7.96312 2.5 10 2.5ZM10 3.85135C7.99742 3.85135 7.7602 3.859 6.96936 3.89508C6.23811 3.92843 5.84099 4.05061 5.57671 4.15332C5.22663 4.28937 4.97679 4.4519 4.71436 4.71436C4.45189 4.97679 4.28937 5.22663 4.15332 5.57671C4.05061 5.84099 3.92842 6.23811 3.89508 6.96936C3.859 7.7602 3.85135 7.99742 3.85135 10C3.85135 12.0026 3.859 12.2398 3.89508 13.0306C3.92842 13.7619 4.05061 14.159 4.15332 14.4233C4.28937 14.7734 4.45192 15.0232 4.71436 15.2856C4.97679 15.5481 5.22663 15.7106 5.57671 15.8467C5.84099 15.9494 6.23811 16.0716 6.96936 16.1049C7.76011 16.141 7.99727 16.1487 10 16.1487C12.0027 16.1487 12.2399 16.141 13.0306 16.1049C13.7619 16.0716 14.159 15.9494 14.4233 15.8467C14.7734 15.7106 15.0232 15.5481 15.2856 15.2856C15.5481 15.0232 15.7106 14.7734 15.8467 14.4233C15.9494 14.159 16.0716 13.7619 16.1049 13.0306C16.141 12.2398 16.1487 12.0026 16.1487 10C16.1487 7.99742 16.141 7.7602 16.1049 6.96936C16.0716 6.23811 15.9494 5.84099 15.8467 5.57671C15.7106 5.22663 15.5481 4.97679 15.2856 4.71436C15.0232 4.4519 14.7734 4.28937 14.4233 4.15332C14.159 4.05061 13.7619 3.92843 13.0306 3.89508C12.2398 3.859 12.0026 3.85135 10 3.85135ZM10 6.14865C12.1271 6.14865 13.8513 7.87295 13.8513 10C13.8513 12.1271 12.1271 13.8513 10 13.8513C7.87294 13.8513 6.14865 12.1271 6.14865 10C6.14865 7.87295 7.87294 6.14865 10 6.14865ZM10 12.5C11.3807 12.5 12.5 11.3807 12.5 10C12.5 8.61928 11.3807 7.5 10 7.5C8.61928 7.5 7.5 8.61928 7.5 10C7.5 11.3807 8.61928 12.5 10 12.5ZM14.9035 5.99649C14.9035 6.49355 14.5006 6.89648 14.0035 6.89648C13.5065 6.89648 13.1035 6.49355 13.1035 5.99649C13.1035 5.49943 13.5065 5.09647 14.0035 5.09647C14.5006 5.09647 14.9035 5.49943 14.9035 5.99649Z"/>
    </svg>


  {% when 'pinterest' %}
    <svg class="icon icon__pinterest" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path d="M10.0002 2.5C5.85813 2.5 2.5 5.85766 2.5 10.0007C2.5 13.0723 4.34646 15.7103 6.98954 16.8698C6.96844 16.3456 6.98579 15.7168 7.11989 15.1481C7.26431 14.5381 8.08485 11.0599 8.08485 11.0599C8.08485 11.0599 7.84478 10.5812 7.84478 9.8741C7.84478 8.76332 8.48997 7.93293 9.29222 7.93293C9.97398 7.93293 10.3036 8.44448 10.3036 9.05825C10.3036 9.74376 9.86567 10.7697 9.64154 11.7196C9.45352 12.5148 10.041 13.1638 10.8241 13.1638C12.2452 13.1638 13.2022 11.3394 13.2022 9.17641C13.2022 7.53298 12.0952 6.3031 10.0818 6.3031C7.80681 6.3031 6.38984 7.99905 6.38984 9.89427C6.38984 10.5479 6.58255 11.0088 6.88405 11.3656C7.0233 11.5297 7.04253 11.5949 6.99142 11.7834C6.95672 11.9222 6.8742 12.2537 6.8395 12.385C6.78933 12.5758 6.63601 12.6433 6.46393 12.5725C5.41598 12.1458 4.92834 10.998 4.92834 9.70765C4.92834 7.57752 6.72463 5.02212 10.2891 5.02212C13.1521 5.02212 15.0379 7.09457 15.0379 9.31895C15.0379 12.2612 13.401 14.4593 10.99 14.4593C10.1798 14.4593 9.41788 14.0214 9.15812 13.5253C9.15812 13.5253 8.72206 15.2536 8.63063 15.5865C8.47121 16.1637 8.15987 16.7428 7.87573 17.1934C8.54905 17.3926 9.26175 17.5009 10.0002 17.5009C14.1423 17.5009 17.5 14.1437 17.5 10.0007C17.5 5.85766 14.1423 2.5 10.0002 2.5Z" />
    </svg>


  {% when 'twitter' %}
    <svg class="icon icon__twitter"  viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M11.63,7.34l.06.85-.87-.1A14.08,14.08,0,0,1,2.57,4L1.44,2.9l-.29.83A5,5,0,0,0,2.22,8.91c.68.73.53.84-.66.4A2.48,2.48,0,0,0,.8,9.13a6.36,6.36,0,0,0,.63,2.34A5.51,5.51,0,0,0,3.8,13.71l.84.4h-1c-1,0-1,0-.9.39A5.24,5.24,0,0,0,6,17.37l1.08.36-.94.56A9.51,9.51,0,0,1,1.41,19.6,5.16,5.16,0,0,0,0,19.74a13,13,0,0,0,3.34,1.54A14.64,14.64,0,0,0,14.7,20a15.19,15.19,0,0,0,5.77-6.79A18.16,18.16,0,0,0,21.68,8c0-.81,0-.9,1-1.87a11.1,11.1,0,0,0,1.21-1.35c.18-.33.16-.33-.73,0-1.47.52-1.68.46-.95-.33a5,5,0,0,0,1.22-1.86,1.17,1.17,0,0,0-.56.18,8.58,8.58,0,0,1-1.52.6l-.93.3-.85-.58a6.51,6.51,0,0,0-1.48-.77,5.84,5.84,0,0,0-3,.07A5,5,0,0,0,11.63,7.34Z"/>
    </svg>

  {% when 'youtube' %}
    <svg class="icon icon__youtube" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M18.167 6.71348C18.167 6.71348 18.004 5.55684 17.5045 5.04759C16.8706 4.37884 16.1602 4.37572 15.8347 4.33691C13.5024 4.16699 10.004 4.16699 10.004 4.16699H9.99668C9.99668 4.16699 6.49824 4.16699 4.16595 4.33691C3.83991 4.37572 3.13001 4.37884 2.49564 5.04759C1.99616 5.55697 1.83366 6.71348 1.83366 6.71348C1.83366 6.71348 1.66699 8.07207 1.66699 9.43001V10.7036C1.66699 12.062 1.83366 13.4201 1.83366 13.4201C1.83366 13.4201 1.99616 14.5768 2.49564 15.086C3.13001 15.7548 3.96283 15.7338 4.33366 15.8036C5.66699 15.9326 10.0003 15.9725 10.0003 15.9725C10.0003 15.9725 13.5024 15.9673 15.8347 15.7973C16.1602 15.758 16.8706 15.7549 17.5045 15.0861C18.004 14.5768 18.167 13.4202 18.167 13.4202C18.167 13.4202 18.3337 12.0622 18.3337 10.7036V9.43001C18.3337 8.07207 18.167 6.71348 18.167 6.71348ZM8.27949 12.2468L8.27897 7.53079L12.7821 9.89694L8.27949 12.2468Z" />
    </svg>

  {% else %}
    <span>No icon found!</span>
{% endcase %}