{% comment %}
----------------------------------------------------------------------------
  Snippet: Styleguide - getting started
----------------------------------------------------------------------------
{% endcomment %}
<content-block name="Overview" status="">
  <div class="container">
    <div class="row">
      <div class="col xs12 m6 offset-m3">
        <div class="sg-content-block__content">
          <h2>What is this?</h2>
          <p>
            Frame Styleguide serves as a digital brand guideline to building websites and experiences. The goal of a styleguide is to improve consistency, quality and communication across the UI, making the design and development process more efficient and focused.
          </p>

          <p>
            This Styleguide is to establish a shared vocabulary between designer and developer, and providing clear, discoverable guidance around design and development best practices.
          </p>

          <p>
            More information on the importance of <a href="https://www.invisionapp.com/inside-design/guide-to-design-systems/">Design Systems</a>.
          </p>
        </div>

        <div class="sg-content-block__content">
          <h2>Who is this for?</h2>
          <p>
            Anyone who is designing or developing a new website using Frame. Even if you don’t need to use these components directly, the base styling and documentation should be a useful reference for how we have done stuff elsewhere and to reduce duplication of work and contaminating the style sheets.
          </p>
        </div>

        <div class="sg-content-block__content">
          <h2>How do I use it?</h2>
          <p>
            See <a href="https://wemakewebsites.slite.com/api/s/note/YSefqANFMnwqyNxU8vyUuv/Styleguide-Getting-started">Getting started</a> on Slite for how to integrate this into your project and how to edit the base styling of your theme.
          </p>
        </div>
      </div>
    </div>
  </div>
</content-block>
