{% comment %}
------------------------------------------------------------------------------
  Snippet: Styleguide - global
------------------------------------------------------------------------------
{% endcomment %}
<content-block status="WIP" name="Site footer" is-synced>
  <p slot="description">A good site footer becomes the visual anchor of an e-commerce store in which users are able to see all the key categories and pages at a glance with minimal interaction.</p>

  {% section 'site-footer' %}
</content-block>

<content-block status="WIP" name="Site header" is-synced>
  <p slot="description">The look and feel of the header is the key ingredient to a consistent user experience that all good websites share. It controls all the links guiding and navigating the user across the website which ultimately builds trust within the store.</p>

  {% section 'site-header' %}
</content-block>
