{% comment %}
------------------------------------------------------------------------------
  Collection
  - Main collection template.
------------------------------------------------------------------------------
{% endcomment %}
{% render 'section-padding' %}
{% paginate collection.products by 48 %}
  <div class="wrapper-page section-{{ section.id }}{% if section.settings.allow_padding %}-padding{% endif %}{% if section.settings.section_boxed %} section-boxed{% endif %}">
    <div class="row">
      <div class="template-collection__body">
        {% if collection.products.size <= 0 %}
          <h2 class="text-center">
            {{ 'collections.general.no_matches' | t }}
          </h2>
        {% else %}
          <div
          id="product-grid"
          class="template-collection__grid products-list__grid card-grid"
          data-bc-sort="{{ collection.default_sort_by }}"
          >
            {% for product in collection.products %}
                <div class="card-grid__item">
                    {% render 'product-card' with product: product %}
                </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      {% if paginate.next %}
          {% render 'pagination', 
              paginate: paginate, 
              anchor: '' %}
      {% endif %}
    </div>
  </div>
{% endpaginate %}

{% schema %}
  {
    "name": "Collections Main Product",
    "settings": [
      {
				"type": "header",
				"content": "Padding Section"
			},
			{
				"type": "checkbox",
				"id": "allow_padding",
				"label": "Show Padding on top and bottom",
				"default": true
			},
			{
				"type": "checkbox",
				"id": "section_boxed",
				"label": "Use margin left/right for box the section",
				"default": true
			},
			{
				"type": "range",
				"id": "padding_top",
				"min": 0,
				"max": 100,
				"step": 4,
				"unit": "px",
				"label": "Padding top",
				"default": 12
			},
			{
				"type": "range",
				"id": "padding_bottom",
				"min": 0,
				"max": 100,
				"step": 4,
				"unit": "px",
				"label": "Padding bottom",
				"default": 12
			}
    ]
  }
{% endschema %}  
  