<div class="aa-collection">
  <div class="aa-picture" style="background-image: url('[[# helpers.largeImage ]][[/ helpers.largeImage ]]')"></div>
  <div class="aa-text">
    <span class="aa-title text-link">[[& _highlightResult.title.value ]]</span>
  </div>
</div>
