{% comment %}
------------------------------------------------------------------------------
  Section: Recommended products
  - Javascript powered product cards
------------------------------------------------------------------------------
{% endcomment %}
<section
  class="recommended-products"
  data-product-id="{{ product.id }}"
  data-recommended-limit="{{ section.settings.max_size }}"
  data-section-id="{{ section.id }}"
  data-section-type="recommended-products"
  js-recommended-products="container"
>
  {% if section.settings.heading != blank %}
    <h2 class="recommended-products__title h3">{{ section.settings.heading }}</h2>
  {% endif %}

  <div
    class="recommended-products__card-grid"
    js-recommended-products="cardGrid"
  >
    <div
      class="recommended-products__item"
      js-recommended-products="item"
    >
      {% render 'product-card' with empty_template: true %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Recommended Products",
    "class": "index-section",
    "settings": [
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Recommended products"
      },
      {
        "type": "header",
        "content": "Options"
      },
      {
        "type": "select",
        "id": "max_size",
        "label": "Product limit",
        "default": "4",
        "options": [
          {
            "label": "4",
            "value": "4"
          },
          {
            "label": "5",
            "value": "5"
          },
          {
            "label": "6",
            "value": "6"
          },
          {
            "label": "7",
            "value": "7"
          },
          {
            "label": "8",
            "value": "8"
          }
        ]
      }
    ]
  }
{% endschema %}
