{% comment %}
----------------------------------------------------------------------------
  Template: 404
  - Access from theme customisation when the store is password-protected.
----------------------------------------------------------------------------
{% endcomment %}

<div class="template-404__wrapper">
  <div class="container template-404__container text-center">
    <div class="row">
      <div class="col xs12">
        <h1 class="template-404__title">{{ 'general.404.title' | t }}</h1>

        <p class="template-404__subtext body-1">
          {{ 'general.404.subtext_html' | t }}
        </p>
      </div>
    </div>
  </div>
</div>
