{% comment %}
----------------------------------------------------------------------------
  Template: Page - Press Room
  - Press Room template
----------------------------------------------------------------------------
{% endcomment %}

<div class="template-press-page">
  {% section 'press-room-listing' %}
  {% section 'card-slider-press-room' %}
  {% section 'latest-posts' %}
  {% section 'contacts-list-press-room' %}
</div>