{% comment %}
----------------------------------------------------------------------------
  Template: Page - For Professionals
  - Gifts
----------------------------------------------------------------------------
{% endcomment %}

<div class="template-professionals">
  {% section 'page-header-professionals-gifts' %}
  {% section 'listing-professionals-gifts' %}
  {% section 'card-slider-professionals-gifts' %}
  {% section 'latest-posts' %}
</div>