{% comment %}
----------------------------------------------------------------------------
  Template: Page - For Professionals
  - Horeca
----------------------------------------------------------------------------
{% endcomment %}

<div class="template-professionals">
  {% section 'page-header-professionals-horeca' %}
  {% section 'listing-professionals-horeca' %}
  {% section 'card-slider-professionals-horeca' %}
  {% section 'latest-posts' %}
</div>