{% comment %}
----------------------------------------------------------------------------
  Template: Page - For Professionals
  - Tools
----------------------------------------------------------------------------
{% endcomment %}

<div class="template-professionals">
  {% section 'page-header-professionals-tools' %}
  {% section 'logos-professionals-tools' %}
</div>